#titulo{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#registro, 
#principal,
#camara{
    display: none;
}

.errorCampo{
    border-color: red;
    border-width: 2px;
}

.menu {
    
    width: 0%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 1;
}

.botonCerrar{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.opciones{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

.opciones:visited{
    color: rgb(255, 255, 255);
}

.inputget {
    display: none;
}

.container-photo{
    background-color: #2f3542;
    margin-bottom: 3px;
    text-align: center;
}

.photo{
    height: 200px;
    object-fit: cover;
}